<script 
src="/inkscape-docs/contributors-guide/quizdown/quizdown.js">
</script>
<script 
src="/inkscape-docs/contributors-guide/quizdown/quizdownKatex.js">
</script>
<script 
src="/inkscape-docs/contributors-guide/quizdown/quizdownHighlight.js">
</script>
<script>quizdown.register(quizdownHighlight).register(quizdownKatex).init()</script> 
